{% extends 'base.html' %}
{% load humanize %}

{% block title %}{{ project.title }}{% endblock %}

{% block content %}

    {#  заголовок  #}
    <div class="page-header" style="margin-top: 16px;">
        <h1 class="page-title">{{ project.title }}</h1>
    </div>

    {#  контент  #}
<div class="container">
    <div class="row">
        <div class="col-md-12">
            <hr>
        </div>
        <div class="col-md-6">
            <img style="width: 100%;" src="{{ project.photo_1.url }}" alt="{{ project.title }}" />
        </div>
        <div class="col-md-6">
            {% if project.description %}
                <div style="margin: 16px 0;">
                    <h4>Описание:</h4>
                    <p class="lead">
                        {{ project.description | safe }}
                    </p>
                </div>
                <hr>
            {% endif %}
            {% if project.size %}
                <div style="margin: 16px 0;">
                    <h4>Размер: {{ project.size }}</h4>
                </div>
                <hr>
            {% endif %}
            <div style="margin: 16px 0;">
                <h4>
                    Тип:
                    {% if project.type == "Ka" %}
                    <span> Каркасные</span>
                    {% elif project.type == "Br" %}
                    <span> Брусовые</span>
                    {% elif project.type == "Ba" %}
                    <span> Бани</span>
                    {% endif %}
                </h4>
            </div>
            <hr>
            <div style="margin: 16px 0;">
                <h5 class="project-price">
                    Цена: {{ project.price | intcomma }} руб.
                </h5>
            </div>
            <hr>
        </div>
    </div>
    <!-- Thumbnails -->
    <div class="mb-2 mt-2 thumbs">
        {% if project.photo_1 %}
        <div>
            <a href="{{ project.photo_1.url }}" data-lightbox="home-images">
            <img src="{{ project.photo_1.url }}" alt="" class="img-fluid">
            </a>
        </div>
        {% endif %}
        {% if project.photo_2 %}
        <div>
            <a href="{{ project.photo_2.url }}" data-lightbox="home-images">
            <img src="{{ project.photo_2.url }}" alt="" class="img-fluid">
            </a>
        </div>
        {% endif %}
        {% if project.photo_3 %}
        <div>
            <a href="{{ project.photo_3.url }}" data-lightbox="home-images">
            <img src="{{ project.photo_3.url }}" alt="" class="img-fluid">
            </a>
        </div>
        {% endif %}
        {% if project.photo_4 %}
        <div>
            <a href="{{ project.photo_4.url }}" data-lightbox="home-images">
            <img src="{{ project.photo_4.url }}" alt="" class="img-fluid">
            </a>
        </div>
        {% endif %}
        {% if project.photo_5 %}
        <div>
            <a href="{{ project.photo_5.url }}" data-lightbox="home-images">
            <img src="{{ project.photo_5.url }}" alt="" class="img-fluid">
            </a>
        </div>
        {% endif %}
        {% if project.photo_6 %}
        <div>
            <a href="{{ project.photo_6.url }}" data-lightbox="home-images">
            <img src="{{ project.photo_6.url }}" alt="" class="img-fluid">
            </a>
        </div>
        {% endif %}
    </div>
</div>    
{#  контент  #}

    <div class="container">
        <!-- Put this div tag to the place, where the Comments block will be -->
        <div id="vk_comments"></div>
        <script type="text/javascript">
            VK.Widgets.Comments("vk_comments", {limit: 5, attach: "*"});
        </script>
    </div>
{% endblock %}
